name: CI

on:
  pull_request:
  workflow_dispatch:

# this cancels workflows currently in progress if you start a new one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15        # Apple Silicon
          - macos-15-intel  # Intel Mac
          - ubuntu-22.04    # Linux x86_64
          - ubuntu-24.04-arm # Linux ARM64
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install expect (Ubuntu)
        if: startsWith(matrix.os, 'ubuntu-')
        run: sudo apt-get install -y expect

      - name: Install expect (macOS)
        if: startsWith(matrix.os, 'macos-')
        run: brew install expect

      - name: Run all tests
        run: ./ci/all_tests.sh
